*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    overflow-x: hidden;
    background-color: black;
    flex-direction: column;
}


 /*----------------------------------- NAVBAR PAGE ----------------------------------- */
.nav{
    margin-top: 25px;
    width: 80%;
    height: 65px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0px 1px 15px 4px rgb(25, 113, 190);
    z-index: 10;
    position: fixed;
}

.nav h2{
    color: black;
    font-size: 30px;
    margin-left: 20px;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 40px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: .3s;
    color: black;
}

.nav ul li::after{
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgb(0, 132, 255);
    bottom: -8px;
    transition: .3s;
}

.nav ul li:hover::after{
    width: 100%;
}
.nav ul li:first-child::after{
    width: 100%;
}


 /*----------------------------------- HERO PAGE ----------------------------------- */


.container {
    width: 100%;
    height: 100vh;
    display: flex;   
    justify-content: center;
    background-color: black;
    position: relative;
    /* overflow: hidden; */
}

#blur1{
    height: 300px;
    width: 300px;
    background-color: rgb(34, 94, 147);
    border-radius: 999999px;
    position: absolute;
    left: -140px;
    z-index: 0;
    filter: blur(80px);
}
#blur2{
    height: 300px;
    width: 300px;
    background-color: #ACAAFF;
    border-radius: 999999px;
    position: absolute;
    right: -150px;
    top: 250px;
    filter: blur(80px);
}

 #hero{
    width: 80%;
    height: 40rem;
    top: 150px;
    /* z-index: 1; */
    color: white; 
    position: absolute;
}

.title{
    width: 60%;
}

#hero h1{
    color: white;
    font-size: 75px;
}
#hero p{
    color: white;
    font-size: 18px;
    font-weight:lighter;
}

#hero img{
    height: 476px;
    width: 400px;
    position: absolute;
    right: 15px;
    top: -5px;
    transition: all 0.3s ease-in-out;
}
#hero img:hover{
    transform: scale(1.03);
}

#buttons{
    position: relative;
    top: 50px;
    height: 10%;
    width: 400px;
}

#buttons .btn1{
    margin-right: 15px;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 7px 20px;
    background: linear-gradient(90deg,rgba(172, 170, 255, 1) 0%, rgba(185, 212, 254, 1) 100%);
    border-radius: 22px;
    text-shadow: 0px 0px 10px #030303;
    border: solid 1px white;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
#buttons .btn2{
    text-decoration: none;
    font-size: 1.3vw;
    padding: 7px 20px;
    border-radius: 22px;
    border: solid 1px white;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#buttons .btn1:hover{
    background: linear-gradient(90deg,rgba(185, 212, 254, 1) 0%, rgba(172, 170, 255, 1) 100%);
    transform: translateX(5px);
}
#buttons .btn2:hover{
    background: linear-gradient(90deg,rgb(61, 124, 224) 0%, rgba(172, 170, 255, 1) 100%);
    transform: translateX(4px);
}

.strip{
    margin-top: 60px;
    width: 60%;
    height: 65px;
    background-color: rgba(20, 135, 235, 0.366);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    box-shadow: 0px 1px 120px 4px rgb(59, 146, 221);
    /* filter: blur(80px); */
    border: solid 1px white;
    border-radius: 9999999px;
    z-index: 1;
    padding: 20px;
    transition: all 0.6s ease-in-out;
}

.strip:hover{
    box-shadow: 0px 1px 120px 4px rgb(103, 218, 218);
}

.name{
    margin-top: 45px;
    text-align: center;
}


/* --------------------------- CONVERT PAGE -------------------------- */
.convert{
    position: relative;
    top: 100%;
    width: 100%;
    padding: 150px;
    /* background: linear-gradient(0deg, #0b3b5d, #000000); */
}

.container label{
    font-size: 22px;
    padding: 4px 8px 4px 8px;
    border: solid 1px white;
    border-radius: 9999999px;
}

.container select{
    margin-top: 20px;
    width: 80%;
    height: 45px;
    color: #030303;
    border-radius: 8px;
    border: solid 3px #acaaff;
    background: linear-gradient(25deg, #ACAAFF, #ffffff);
    font-size: medium;
    font-weight: bold;
    padding-left: 5px;
}

.container option{
    color: #030303;
    font-size: medium;
}


.convert input{
    margin: 20px 20px 20px 0px;
    width: 80%;
    height: 45px;
    border: solid 3px #ACAAFF;
    color: #030303;
    font-size: medium;
    border-radius: 8px;
    padding-left: 10px;
}
.convert button{
    width: 100px;
    height: 40px;
    border: solid 3px #ACAAFF;
    border-radius: 8px;
    font-size: large;
    text-shadow: 0px 0px 10px #030303;
    background: linear-gradient(90deg,rgba(172, 170, 255, 1) 0%, rgba(185, 212, 254, 1) 100%);
    cursor: pointer;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
    
}

.convert button:hover{
    transform: translateY(3px);
}

#resultBox{
    margin-top: 25px;
    width: 80%;
    height: 45px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: large;
    padding: 10px 20px 20px 15px;
}

footer{
    height: 395px;
    width: 100vw;
    position: absolute;
    bottom: -142%;
    align-items: center;
    /* background-color: #3c9291; */
    background: linear-gradient(0deg, #0b3b5d, #000000);
    padding: 50px;
}

.wrapper{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-widget{
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}
.footer-widget:nth-child(1){
    width: calc(40% - 50px);
    margin-right: 15px;
}

.footer-widget h1{
    margin-bottom: 30px;
    vertical-align: middle;
}

.footer-widget p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.footer-widget .socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-widget .socials li a{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: white;
    background-color: rgb(3, 127, 243, 0.5);
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.footer-widget .socials li a:hover{
    background-color: rgb(32, 113, 252);
}

.footer-widget h6{
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.footer-widget .links li a{
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    transition: all0.3s ease-out;
}
.footer-widget .links li a:hover{
    color: rgb(6, 231, 239);
}

.copyright-wrapper{
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.copyright-wrapper p{
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

/* .copyright-wrapper p a{
    color: inherit;
    font-weight: 500;
    transition: all0.3s ease-out;
}
.copyright-wrapper p a:hover{
    color: #54dad7;
} */